# OAuth Authorization Server Metadata
RewriteEngine On
RewriteRule ^oauth-authorization-server$ oauth-authorization-server.php [L]
RewriteRule ^oauth-protected-resource$ oauth-protected-resource.php [L]
